<div class="main">
    <div id="webcam_container" style="display:none;">
        <video id="video" width="400" height="300" autoplay style="display: none;"></video>
        <canvas id="canvas" width="400" height="300"></canvas>
        <br />
        <a href="#" id="btn_screenshot">take screenshot</a>
    </div>
    <div id="screenshot_container" style="display:none;">
        <img src="" id="screenshot" />
        <br />
        <p>
        </p>
        <a href="#" id="btn_save">save screenshot</a>
        <a href="#" id="btn_cancel">cancel</a>
    </div>
</div>

<script>
    const width = 400;
    const height = 300;
    const el = {};
    const url = "/webcam";
    let image;
    el.canvas = document.getElementById('canvas');
    el.webcam_container = document.getElementById('webcam_container');
    el.screenshot = document.getElementById("screenshot");
    el.screenshot_container = document.getElementById('screenshot_container');
    el.video = document.getElementById('video');
    el.btn_screenshot = document.getElementById('btn_screenshot');
    el.btn_save = document.getElementById('btn_save');
    el.btn_cancel = document.getElementById('btn_cancel');
    el.screenshot_container = document.getElementById('screenshot_container');
    const ctx = el.canvas.getContext('2d');

    const main = () => {
        let vendorUrl = window.URL || window.webkitURL;
        setupWebcam();
        setupCanvas();
        showWebcam();
        setupBtns();
        console.log("uh..");
    }

    const setupWebcam = () => {
        if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
            throw new Error(
                'Browser API navigator.mediaDevices.getUserMedia not available');
        }

        navigator.getUserMedia({
            video: true,
            audio: false
        }, stream => {
            el.video.srcObject = stream;
            el.video.play()
        },
            error => {
            }
        );
    }

    const setupCanvas = () => {
        el.video.addEventListener('play', () => {
            drawVideoToCanvas();

        });
    }

    const drawVideoToCanvas = () => {
        ctx.drawImage(el.video, 0, 0, width, height);
        setTimeout(drawVideoToCanvas, 10);
    }

    const setupBtns = () => {
        el.btn_screenshot.addEventListener('click', (e) => {
            e.preventDefault();
            takeScreenshot();
            showScreenshot();
        });

        el.btn_cancel.addEventListener('click', (e) => {
            e.preventDefault();
            showWebcam();
        });

        el.btn_save.addEventListener('click', (e) => {
            e.preventDefault();
            sendScreenshot();
            showWebcam();
        });


    }

    const takeScreenshot = () => {
        // var image = new Image();
        // image.id = "pic";
        image = el.canvas.toDataURL();
        el.screenshot.src = image;
        console.log("taking screenshot");
    }

    const showWebcam = () => {
        el.webcam_container.style.display = "block";
        el.screenshot_container.style.display = "none";
    }

    const showScreenshot = () => {
        el.webcam_container.style.display = "none";
        el.screenshot_container.style.display = "block";
    }

    const sendScreenshot = () => {
        //tring base64?
        var blobImage = dataURItoBlob(image);

        var formData = new FormData();
        formData.append('image', blobImage, "webcam.png");

        fetch(url, {
            method: 'POST',
            body: formData
        })
            .then((response) => {
                if (!response.ok) {
                    throw Error(response.statusText);
                }
                return response
            })
            .then((response) => response.json())
            .then((data) => {
                handleResponse(data);
            })
            .catch((error) => {
                console.error(error);
            });
    }

    const handleResponse = (res) => {
        console.log("received a response: ", res);
    }

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }

    (function () {
        main();
    })();

</script>